@using WorkoutTrackerWebsite.Models;
@using WorkoutTrackerWebsite.Models.LogicModels;

<div id="WorkoutsChart1" class=" vh-100 w-100 hoverableGetBig p-1  shadow d-flex flex-column justify-content-start">
    <RadzenChart ColorScheme="ColorScheme.Pastel">
        <RadzenPieSeries Data="@PopulateData()" Title="Category" CategoryProperty="Category" ValueProperty="numberOfExercises">
            <RadzenSeriesDataLabels Visible="true" />
        </RadzenPieSeries>
        <RadzenValueAxis FormatString="{0} kg" />

        <RadzenLegend  Position="LegendPosition.Top" Visible="true"></RadzenLegend>
    </RadzenChart>
    <div  class="m-auto">
        
        <div class="fs-medium">

            This is your total muscle group training volume, excluding bodyweight exercises. We determine muscle group based on the main muscle targeted by an exercise (e.g. bench press counts only for chest). See below for total volumes by muscle group:
        </div>

        <ul class="fs-medium">
            @foreach (var category in Categories)
            {
                <li>
                    @category.Name
                    @if (_trainedExerciseInfo.Where(x => x.Category == category.Name).Where(x => !x.IsBodyWeight).ToList().Count > 0)
                    {
                        <span>(</span>
                        @foreach (var ex in _trainedExerciseInfo.Where(x => x.Category == category.Name).Where(x => !x.IsBodyWeight).ToList())
                        {
                            <span>@ex.Name : @ex.TotalVolume.ToString("0") Kg </span>
                        }
                        <span>).</span>
                    }
                </li>
            }
        </ul>
    </div>
    





</div>


@code {


    //pie chart
    [Parameter]
    public List<WorkoutModel> UserWorkouts { get; set; }

    [Parameter]
    public List<ExerciseModel> Exercises { get; set; }

    [Parameter]
    public List<ExerciseInfos> ExercisesInfosAll { get; set; }

    [Parameter]
    public List<ExerciseCategoryModel> Categories { get; set; }

    List<ExerciseInfos> _trainedExerciseInfo = new();




    protected override void OnParametersSet()
    {
        _trainedExerciseInfo = ExercisesInfosAll.Where(x => x.NumberOfReps > 0).ToList();



    }
    bool pieShowDataLabels = false;


    class PieDataItem
    {
        public string Category { get; set; }
        public decimal numberOfExercises { get; set; }
    }

    //int GetNumberOfTime_Category_Trained(string categoryName)
    //{
    //    List<ExerciseInfos> exercisesInfosByCategoryName = _trainedExerciseInfo.Where(x => x.Category == categoryName).ToList();
    //    int numberOfTime_Category_Trained = exercisesInfosByCategoryName.Sum(x => x.NumberOfSessions);
    //    return numberOfTime_Category_Trained;
    //}
    decimal GetCategoryTotalVolume(string categoryName)
    {
        List<ExerciseInfos> exercisesInfosByCategoryName = _trainedExerciseInfo.Where(x => x.Category == categoryName).Where(x=>!x.IsBodyWeight).ToList();
        decimal totalVolume = exercisesInfosByCategoryName.Sum(x => x.TotalVolume);
        return totalVolume;
    }
    PieDataItem[] PopulateData()
    {
        List<PieDataItem> dataList = new();
        foreach (var category in Categories)
        {
            dataList.Add(new PieDataItem
                {
                    Category = category.Name,
                    numberOfExercises = GetCategoryTotalVolume(category.Name)
                });
        }
        PieDataItem[] data = dataList.ToArray();

        return data;
    }
}
