@page "/Feed"
@using Microsoft.AspNetCore.Identity;
@using System.Text;
@using WorkoutTrackerWebsite.Data;
@using Microsoft.EntityFrameworkCore;
@using WorkoutTrackerWebsite.Models;
@inject IDbContextFactory<WorkoutsTrackerDbContext> ContextFactory;
<PageTitle>My Workouts</PageTitle>

@foreach(LogMessageModel logMessage in _logMessages)
{
    <div>@logMessage.MessageBody</div>
}



@code {
    List<LogMessageModel> _logMessages = new();
    int counter=0;


    protected override async Task OnInitializedAsync()
    {
        using (var repo = new WorkoutRepository(ContextFactory.CreateDbContext()))
        {
            _logMessages = await repo.GetAllLogMessageModels();
        }
    }

}
