@page "/ManageWorkouts"
@using WorkoutTrackerWebsite.Data;
@using Microsoft.EntityFrameworkCore;
@using WorkoutTrackerWebsite.Logic;
@using WorkoutTrackerWebsite.Models;
@using WorkoutTrackerWebsite.Models.LogicModels;
@using WorkoutTrackerWebsite.Pages.ManageWorkoutsComponents
<PageTitle>AddWorkout</PageTitle>
@inject IDbContextFactory<WorkoutsTrackerDbContext> ContextFactory;

@inject AuthenticationStateProvider GetAuthenticationStateAsync
@layout UserLayout

<img class="background" src="Images/Background.png">


<div id="PageContainer" class=" w-100 d-flex flex-column flex-wrap  justify-content-start bg-white m-0" style="min-height:800px; ">
    <ul class="nav nav-tabs bg-dark fs-4 " >
        <li >
            <button @onclick="ShowPage1" class="nav-link @active1 ">AddWorkout</button>
        </li>
        <li >
            <button @onclick="ShowPage2" class="nav-link @active2">Delete Workout</button>
        </li>
        <li  >
            <button @onclick="ShowPage3" class="nav-link @active3  ">Delete template</button>
        </li>
    </ul>


@if (is1Active)
{
    <AddWorkouts></AddWorkouts>
}
else if (is2Active)
{
    <DeleteWorkouts></DeleteWorkouts>
}
else if (is3Active)
{
    <DeleteTemplates></DeleteTemplates>
}
</div>









@code {
    //NavMenu
    bool is1Active = true;
    bool is2Active = false;
    bool is3Active = false;
    int startAnimationKey = 0;
    string active1 = "active";
    string active2 = "";
    string active3 = "";

    void ShowPage1()
    {
        startAnimationKey--;
        is1Active = true;
        active1 = "active";

        is2Active = false;
        active2 = "";

        is3Active = false;
        active3 = "";
    }
    void ShowPage2()
    {
        startAnimationKey--;
        is1Active = false;
        active1 = "";

        is2Active = true;
        active2 = "active";

        is3Active = false;
        active3 = "";
    }
    void ShowPage3()
    {
        startAnimationKey--;
        is1Active = false;
        active1 = "";

        is2Active = false;
        active2 = "";

        is3Active = true;
        active3 = "active";
    }




}
