@page
@model WorkoutTrackerWebsite.Areas.Identity.Pages.Account.LoginModel
@{
}
<div class="col-md-4">
    <section>
        <form id="account" method="post">
            <h2>Use a local account to log in</h2>
            <ht />
            <div asp-validation-summary="ModelOnly" class="text-danger" aria-required="true"></div>
            <div>
                <input asp-for="Input.Email" class="form-control" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="Input.Name" class="form-control" />
                <label asp-for="Input.Name" class="form-label"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating" style="margin:10px">
                <input asp-for="Input.Password" class="form-control" aria-required="true" />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
            </div>
        </form>
    </section>
</div>