@page
@model WorkoutTrackerWebsite.Areas.Identity.Pages.Account.RegisterModel


@{
}
<div class="col-xs-1 " align="center">

    <div class="col-md-4 text-start text-white" style="max-width:500px">
        <section class="formCentered" >
            <form id="account" method="post">
                <h2 class="text-center mb-5">Register a new user</h2>
                <ht />
                <div asp-validation-summary="ModelOnly" class="text-danger" aria-required="true"></div>
                <div>
                    <label asp-for="Input.Email" class="form-label"></label>

                    <input asp-for="Input.Email" class="form-control mb-3" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Input.Name" class="form-label"></label>

                    <input asp-for="Input.Name" class="form-control mb-3" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div >
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control mb-3" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary mt-4">Register</button>
                </div>
            </form>
        </section>

    </div>
</div>

<style>
    .formCentered{
        margin-top:200px;  
        border:solid;
        border-color: gold;
        border-width:3px;
        padding: 70px 50px;
        border-radius:1%;

    }
</style>