@layout UserLayout
@*Need somehow to hide those values*@
@page "/FriendProfile/{userId}/{userName}"
<div id="PageContainer" class=" w-100  bg-white m-auto" style="min-height:1000px; ">
    <FriendBragingCard UserId="@userId" userName="@userName"></FriendBragingCard>

</div>

@code {
    [Parameter]
    public string userId { get; set; }
    [Parameter]
    public string userName { get; set; }
}
