#log-messages {
    height: 800px;
    max-width: 1200px;
    overflow-y: scroll;
    overflow-x: hidden;
    
    margin: 20px auto ;


    display:flex;
    flex-direction:column;
    justify-content:start;


    background-color:papayawhip;
    
    
    
}

.message {
    display: flex;


    padding: 5px;
    font-family: 'Eczar', serif;
    font-family: 'Merienda', cursive;
}
@media (min-width: 900px) {
    .message {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 5px;

    }

    #log-messages {
        padding: 10px;
        min-width: 450px
    }
    .message {
        font-size: 15px;
        border-radius: 2%;
        padding: 0px;
    }

    .messageDate {
        font-weight: 600;
        min-width: 200px ;
        position: relative;
        bottom: -15px;
    }
}


    @media (max-width: 900px) {
        .message {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 5px;
        }
        #log-messages {
            padding: 10px;
            min-width: 200px
        }

        .message {
            font-size: 15px;
            border-radius: 2%;
            padding: 0px;
        }

        .messageDate {
            font-weight: 600;
            min-width: 50px;
            position: relative;
            bottom: -15px;
            margin:auto;
        }
    }

    .messageDate {
        font-weight: 600;
        position: relative;
        bottom: -15px;
    }

    .messageBody {
        position: relative;
        bottom: -15px;
    }



    .userAddedAWorkout {
        color: green;
    }

    .newRecord {
        color: green;
    }

    .userDeletedAWorkout {
        color: red;
    }

    .userAddedAFriend {
        color: green;
    }


    /*scroll bar*/
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
