.BraggingCard {
    width: auto;
    height:auto;
    
}

.Exercises {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    max-height: 200px;
    box-sizing: border-box;
    padding: 0;
}

.ExercisesFavoriteSlot {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.favoriteExercise {
    transition: transform 0.4s;
    cursor: pointer;
    font-size: 15px;
    min-height: 80%;
    margin: 0;
}


.favoriteExerciseWeight {
    font-size: 35px;
    position: relative;
    bottom: 0;
}

.emptySlot {
    margin: 0;
    text-align: center;
    min-height: 115px;
    transition: transform 0.2s;
}

    .emptySlot:hover {
        background-color: rgba(182, 255, 0,0.8);
        transform: scale(1.03);
        transition: transform 0.2s;
    }
