@inherits LayoutComponentBase

<PageTitle>WorkoutTrackerWebsite</PageTitle>

<div class="page">

    <main >
        <AuthorizeView>
            <NotAuthorized>
                <div class="top-row TopNavBar bg-dark" >
                    <a class="text-white text-decoration-none  hoverable" href="Identity/Account/Register" target="_blank">Register</a>
                    <a class="text-white text-decoration-none  hoverable" href="Identity/Account/Login" target="_blank">Log in</a>
                    <a style="color:gold;" class="navbar-brand " href="">WorkoutsTracker</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        
        
        
        @Body

        <div class="footer">
            <div class="footer-row">
                <p class="footer-text">Copyright © 2023. All rights are reserved</p>
            </div>
            <div class="footer-links">
                <a class="footer-link" href="https://github.com/SaadAblat" target="_blank"><i class="fab fa-github text-dark"></i>  </a>
                <a class="footer-link" href="https://www.linkedin.com/in/saad-ablat-82237816b/" target="_blank"><i class="fab fa-linkedin text-dark"></i>  </a>
            </div>
   

        </div>
    </main>
    
</div>


<style>




    



</style>
