@inherits LayoutComponentBase

<PageTitle>WorkoutTrackerWebsite</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <a href="Identity/Account/Logout" >Logout</a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="top-row px-4">
                    <a href="Identity/Account/Register" target="_blank">Register</a>
                    <a href="Identity/Account/Login" target="_blank">Log in</a>
                </div>
               
            </NotAuthorized>
        </AuthorizeView>
        
        
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
