@inherits LayoutComponentBase
<PageTitle>WorkoutTrackerWebsite</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="page">
            
            <div class="sidebar">
                <NavMenu />
            </div>
            <main>
                <div class="top-row px-4 bg-dark">
                    <a class="text-white text-decoration-none fs-4 hoverable " href="Identity/Account/Logout">Logout</a>
                </div>
                
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
        
    </Authorized>
</AuthorizeView>
@code {

}
