@inherits LayoutComponentBase
<PageTitle>WorkoutTrackerWebsite</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="page">
            
            <div class=" bg-dark" >
                <NavMenu />
            </div>
            <main>
                @Body
                
            </main>
        </div>
        
    </Authorized>
</AuthorizeView>
@code {

}
